<label class="col-md-5 control-label" for="condpla">Cond. Planilla</label>

<div class="col-md-7">
    <select id="pla" class="form-control">
        {{#each items}}
            <option value="{{codcond}}">{{descond}}</option>
        {{/each}}
    </select>
</div>