<label class="col-md-5 control-label" for="ent">Entidad Aseguradora</label>

<div class="col-md-7">
    <select id="ent" class="form-control" >
        {{#each items}}
            <option value="{{codent}}">{{desent}}</option>
        {{/each}}
    </select>
</div>