<label class="col-md-5 control-label" for="reg">Regimen</label>

<div class="col-md-7">
    <select id="reg" class="form-control" >
        {{#each items}}
            <option value="{{codreg}}">{{desreg}}</option>
        {{/each}}
    </select>
</div>