<label class="control-label" for="tipo">Tipo</label>

<div class="controls">
    <select id="tipo" style="width: 250px;">
        {{#each items}}
            <option value="{{codtip}}">{{destip}}</option>     <!--combo box Tipo de servidor-->
        {{/each}}
    </select>
</div>