<div class="well" style="border:0px; background-color: #fff;" id="cont_tabla">
    <table id="table-horarios" class="table table-bordered table-hover" style="font-size: 12px;">
        <thead class="header" style="color: #040404;background-color:#f5f5f5">
        <tr>
            <th>horario</th>
            <th>Domingo</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sabado</th>
        </tr>
        </thead>
        <tbody id="fam_content">


        </tbody>
    </table>

</div>