<label class="col-md-5 control-label" for="estafp">Estado AFP</label>

<div class="col-md-7">
    <select id="estafp" class="form-control">
        {{#each items}}
            <option value="{{codestafp}}">{{desestafp}}</option>
        {{/each}}
    </select>
</div>