<label class="col-md-5 control-label" for="tipopago">Tipo de Pago</label>

<div class="col-md-7">
    <select id="tipopago" class="form-control">
        {{#each items}}
            <option value="{{codtippago}}">{{destippago}}</option>
        {{/each}}
    </select>
</div>