
.google-sign-in{
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-box-shadow: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-property: background-color;
    -webkit-transition-timing-function: ease-in;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #00585f;
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: proxima-nova, 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 13px;
    line-height: 13px;
    margin-bottom: 20px;
    margin-right: 10px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15.59375px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: background-color;
    transition-timing-function: ease-in;
    vertical-align: middle;
    white-space: nowrap;
    width: 200px;
}
.navbar .brand {
    background:url(../img/logo_small_morado.fw.png)  0 center no-repeat;
    display: block;
    text-indent: -9999px;
    font-size: 0;
    width: 250px;
    height: 60px;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 0;
}

.nav .signup {
    box-shadow: 0 0 0 2px #E1E0E6  inset;

}
.footer {
    background-color: #ffffff;
    color:#000000;
    padding: 60px 0px;
    min-width: 100px;
}
/*css para dropdwon */
.navbar .nav > li.dropdown.active > .dropdown-toggle {
    background: #eee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-weight: bold;
}
.navbar .nav > li.dropdown.open > .dropdown-toggle {
    background: #fff;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border: 1px solid #ccc;
    border-top-color: #ddd;
    border-bottom: 0;
    border-color: rgba(0, 0, 0, 0.2);
    border-color-top: rgba(0, 0, 0, 0.15);
    padding: 8px 14px;
    position: relative;
    z-index: 9999;
}
.navbar .nav > li.dropdown.open > .dropdown-toggle,
.navbar .nav > li.dropdown.open.active > .dropdown-toggle {
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar .nav > li .dropdown-menu {
    -webkit-border-radius: 0 3px 3px 3px;
    -moz-border-radius: 0 3px 3px 3px;
    border-radius: 0 3px 3px 3px;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 8px 0;
    top: 51px;
    z-index: 9998;
}
.navbar .nav > li .dropdown-menu:after,
.navbar .nav > li .dropdown-menu:before {
    display: none;
}

/*a:-webkit-any-link {*/
/*color: #ffffff;*/
/*text-decoration: none;*/
/*cursor: auto;*/
/*}*/