<label class="control-label col-md-5" for="serv_nac_distrito">Distrito</label>

<div class="col-md-7">
    <select id="serv_nac_distrito" class="form-control">
        {{#each items}}
            <option value="{{codDistrito}}">{{descDistrito}}</option>
        {{/each}}
    </select>
</div>