<label class="control-label col-md-5" for="serv_nac_provincia">Provincia</label>

<div class="col-md-7">
    <select id="serv_nac_provincia" class="form-control">
        {{#each items}}
            <option value="{{codProvincia}}">{{descProvincia}}</option>
        {{/each}}
    </select>
</div>