

    <label class="col-md-5 control-label" for="resoluc_est">Tipo de Resoluci&oacuten<span style="color:red;">*</span></label>
    <div class="col-md-7" >

       <select id="resolucion_ver" class="form-control">
            <option value="4">Seleccione Resoluci&oacuten</option>
            {{#each items}}
                <option value="{{tipoRe}}">{{descriResu}}</option>
            {{/each}}
        </select>

    </div>


