<label class="col-md-5 control-label" for="est_civil">Estado Civil <span style="color: red;">*</span></label>
<div class="col-md-7">
    <select id="leg_est_civil" class="form-control">
        <option value="0">Seleccione Estado Civil</option>
        {{#each items}}
            <option value="{{codcivil}}">{{desc_estcivil}}</option>
        {{/each}}
    </select>
</div>
