
 <label class="col-md-5 control-label" for="legaj_tip_pago">Tipo de Pago</label>
                <div class="col-md-7">
                    <select id="lega_tip_pago" class="form-control">
                       {{#each items}}
                            <option value="{{id_tip_pago}}">{{desc_tip_pago}}</option>
                       {{/each}}
                    </select>
</div>