
<table id="table-perfiles" class="table table-bordered table-hover" style="font-size: 14px;">
    <thead class="header" style="color: #040404;background-color:#f5f5f5">
    <tr>
        <th style="align:center;">Descripci&#243;n de Perfil</th>
        <th style="text-align:center;">Eliminar</th>
    </tr>
    </thead>
    <tbody class="table-data">
    {{#each items}}
        <tr id="{{codigo}}" class="" >
            <td >{{descripcion}}</td>
            <td style="text-align:center;">

                <button type="button" data="{{codigo}}" class="btn btn-danger btn-xs" data-dismiss="modal" data-toggle="modal" data-target="#modal-div" id="delete-button"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
    {{else}}
        <td colspan="6">No existen perfiles</td>
    {{/each}}
    </tbody>
</table>


<style type="text/css">
    #table-perfiles_length{
        display:none;
    }

    #table-perfiles_paginate{
        position: absolute;
        margin-top: -16px;
        left: 52%;
    }
    #table-perfiles_info{
        float: left;
        margin-top: -12px;
        margin-left: 18px;
        font-size: 10px;
        color: rgb(2, 2, 2);
    }
    #table-perfiles tr{
        cursor: pointer;
    }



    #table-perfiles_previous{
        cursor: pointer;
        display: inline-block;
        padding: 3px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        border-radius: 5px;
    }
    #table-perfiles_next{
        cursor: pointer;
        margin-left: 19px;
        display: inline-block;
        padding: 3px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        border-radius: 5px;
    }
</style>