<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>



    <label>Nuevo Perfil</label>
</div>
<div class="modal-body">
    <div class="input-append">
        <input type="text" id="descripcion">
    </div>

    <button id="cancel-perfil" class="btn " type="submit">Cancelar
    </button>
    <button id="save-perfil" class="btn btn-primary" type="submit">Crear Perfil
    </button>
</div>

