<br />
<br />
<table id="table-perfiles" class="table table-bordered " style="font-size: 14px;">
    <thead class="header" style="color: #040404;background-color:#f5f5f5">
    <tr>
        <th style="align:center;">Descripci&#243;n de Perfil</th>
        <th style="text-align:center;">Eliminar</th>
    </tr>
    </thead>
    <tbody class="table-data">
    {{#each items}}
        <tr id="{{codigo}}" class="" >
            <td >{{descripcion}}</td>
            <td style="text-align:center;">
                <a id="delete-button" data="{{codigo}}"href="#" class="btn btn-primary"><i class="icon-white icon-trash" ></i></a>
            </td>
        </tr>
    {{else}}
        <td colspan="6">No existen perfiles</td>
    {{/each}}
    </tbody>
</table>
<!--<ul class="pager">
    <li>
        <a href="#">Anterior</a>
    </li>
    <li>
        <a href="#">Siguiente</a>
    </li>
</ul>-->

<style type="text/css">
    .body-table>tr{
        cursor: pointer;
    }
    .body-table tr:hover{
        background-color:#f5f5f5;
    }
    #header-x{
        position: absolute;
        left: 95%;
        top: 1%;
    }
    #table-servidores2_info{
        float:left;

    }

    .previous{
        cursor:pointer;
        display:inline-block;
        padding:5px 14px;
        background-color:#fff;
        border:1px solid #ddd;
        -webkit-border-radius:15px;
        border-radius:15px;
    }
    .next{
        margin-left:6px;
        cursor:pointer;
        display:inline-block;
        padding:5px 14px;
        background-color:#fff;
        border:1px solid #ddd;
        -webkit-border-radius:15px;
        border-radius:15px;
    }
    .table-footer{
        margin-left:386px;
        margin-top:-8px;
        padding-bottom:11px;
    }
    .container-modal{
        width:597px;
    }
    .table-position{
        padding-left:9px;
        padding-right:9px;
    }
</style>