<label style="font-size:18px;">Lista de Perfiles</label>
<select id="select-perfiles" style="width:375px;">
    <option id="input0" value="0" selected></option>
    {{#each items}}
        <option value="{{codigo}}">{{descripcion}}</option>
    {{/each}}
</select>

