<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Nueva Plaza </h4>
</div>


<div class="modal-body" >

    <form class="form-horizontal" id="sav_serv_cont" >

        <div class="row control-group">
            <div class="span5">
                <label class="control-label" for="serv_codigo">Código Servidor <span style="color:red;">*</span></label>

                <div class="controls">
                    <div class="input-append">
                        <input type="text" id="codigo" placeholder="Ejm. 45335588">
                        <button id="sear_cod" class="btn btn-primary" type="button" style="height:30px"><i
                                class="icon-search icon-white"></i></button>
                    </div>

                    <div id="help_codigo" class='alert alert-error'
                         style="padding: 4px 6px 4px 6px;margin: 4px 0px 0px 0px;border:1px;"></div>
                    <div id="help_save_ok" class='alert alert-success'
                         style="padding: 4px 6px 4px 6px;margin: 4px 0px 0px 0px;border:1px;"></div>
                    <div id="help_sin_cas" class='alert alert-info'
                         style="padding: 4px 6px 4px 6px;margin: 4px 0px 0px 0px;border:1px;"></div>

                </div>
            </div>
        </div>

        <div class="row control-group">
            <div class="span5" id="div_serv_num_cont">
                <label class="control-label" for="serv_num_cont">Número de contrato <span
                        style="color:red;">*</span></label>

                <div class="controls">
                    <input type="text" id="serv_num_cont" placeholder="Ejm. 017-N-UNMSM-2013">
                </div>
            </div>
            <div class="span5" id="div_serv_tip_cont">
                <label class="control-label" for="serv_horas">Horas laborables <span style="color:red;">*</span></label>

                <div class="controls">
                    <input type="text" id="serv_horas" placeholder="Ejm. 40">
                </div>
            </div>
        </div>

        <div class="row control-group">
            <div class="span5" id="div_serv_gen">

            </div>
            <div class="span5" id="div_serv_tip">

            </div>
        </div>

        <div class="row control-group">
            <div class="span5" id="div_serv_carg">

            </div>
            <div class="span5" id="div_serv_rem">
                <label class="control-label" for="serv_rem">Remuneración <span style="color:red;">*</span></label>

                <div class="controls">
                    <input type="text" id="serv_rem" placeholder="Ejm. 1200">
                </div>

            </div>
        </div>


        <div class="row control-group">
            <div class="span5" id="div_serv_ini">

                <label class="control-label" for="serv_ini">Fecha de inicio <span style="color:red;">*</span></label>

                <div class="controls">
                    <div class="input-append">
                        <input size="10" type="text" value="" id="serv_ini" placeholder="Ejm. 11/05/2004"
                               style="height:30px;border-top-width: 0px;border-bottom-width: 0px;padding-bottom: 0px;padding-top: 0px;"
                               readonly="">
                        <button class="btn btn-primary" type="button" id="serv_ini_show" style="height:30px"><i
                                class="icon-th icon-white"></i></button>
                        <button class="btn btn-primary" type="button" id="serv_ini_clos" style="height:30px"><i
                                class="icon-minus icon-white"></i></button>
                    </div>
                </div>

            </div>
            <div class="span5" id="div_serv_ter">

                <label class="control-label" for="serv_ter">Fecha de fin <span style="color:red;">*</span></label>

                <div class="controls">
                    <div class="input-append">
                        <input size="10" type="text" value="" id="serv_ter" placeholder="Ejm. 11/05/2008"
                               style="height:30px;border-top-width: 0px;border-bottom-width: 0px;padding-bottom: 0px;padding-top: 0px;"
                               readonly="">
                        <button class="btn btn-primary" type="button" id="serv_ter_show" style="height:30px"><i
                                class="icon-th icon-white"></i></button>
                        <button class="btn btn-primary" type="button" id="serv_ter_clos" style="height:30px"><i
                                class="icon-minus icon-white"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Borrar</button>
    <button id="btn_new_plaza" class="btn btn-primary">Crear plaza</button>
</div>