<label class="control-label" for="serv_tip">Tipo</label>

<div class="controls">
    <select id="serv_tip">
        {{#each items}}
            <option value="{{cod}}">{{dsc}}</option>
        {{/each}}
    </select>
</div>