<label class="control-label" for="serv_car">Cargos</label>

<div class="controls">
    <select id="serv_car">
        {{#each items}}
            <option value="{{cod}}">{{dsc}}</option>
        {{/each}}
    </select>
</div>