<label class="control-label" for="serv_gen">Tipo Genérico</label>

<div class="controls">
    <select id="serv_gen">
        {{#each items}}
            <option value="{{cod}}">{{dsc}}</option>
        {{/each}}
    </select>
</div>